@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #004d40;
    --secondary-color: #00796b;
    --accent-color: #00bfa5;
    --text-color: #ffffff;
    --background-color: #e0f2f1;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
}

header img {
    height: 50px;
    width: 200px;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: small;
}

.hero {
    position: relative;
    text-align: center;
    color: rgb(3, 3, 3);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
}

.hero article {
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
}

.hero article img {
    float: right;
    margin-left: 1rem;
    border-radius: 50%;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    color: var(--text-color);
}

.sociallinks a img {
    height: 24px;
    margin: 0 0.5rem;
}

.sociallinks a {
    text-decoration: none;
}
