@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto+Condensed:wght@100..900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #33658a;
    --secondary-color: #78c9ab;
    --accent1-color: #2F4858;
    --accent2-color: #3D8B58;

    --heading-font: 'Roboto Condensed', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

    --nav-background-color: #2F4858;
    --nav-link-color: #78c9ab;
    --nav-hover-link-color: #2F4858;
    --nav-hover-background-color: #33658a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}






















